@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
 }

.sessao-logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-relogio{
    width: 8rem;
}

#logo-letreiro{
    width: 12rem;
}

.sessao-selecao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sessao-selecao_template{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
}


.sessaoselecao_template_botao{
    width: 3.6rem;
    max-width: 5rem;
    height: 2.6rem;
    border-radius: 0.6rem;
    font-size: 1rem;
    background-color: #A4A4A4;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
}

.sessaoselecao_template_botoes{
    display: flex;
    gap: 1rem;
    margin-top: 0.6rem;
    justify-content: center;
}

.sessao-entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: 8rem;
}

.sessao-entrada_template{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    font-size: 1.4rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
}

.sessao-entrada_template_pergunta{
    width: 68%;
}

hr{
    width: 88%;
    margin: 0.8rem 0 0; 
    align-items: center;
}

input{
    width: 40%;
    border: none;
    font-size: 1.2rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
}

input:focus{
    outline: 0;
}

#botaocalcular{
    background-color: rgb(76, 131, 212);
    color: white;
    width: 100%;
    max-width: 320px;
    height: auto;
    outline: 2px solid black;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin: 0.8rem auto 0 auto;
    border: none;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
}

.mensagem-erroum, .mensagem-errodois{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden; 
    padding: 0.6em 0;
}

.mensagem-erro-transicao{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 1rem;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    color: #8f0000;
    padding: 0.6em 0;
}

.card-alerta{
    width: 100%;
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 6px;
    margin-top: 20px;
    text-align: center;
}

.card-vermelho{
    width: 100%;
    height: 175px;
    background: #ff0000;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-vermelho span{
    color: white;
    font-size: 70px;
    font-weight: 500px;
}

.mensagem{
    margin-top: 20px;
    font-size: 19px;
    line-height: 1.4;
    font-weight: 600;
}

.hidden{
    display: none;
}

.resposta{
    align-items: center;
    background-color: #d4d0d0;
    margin: 4rem;
    width: 100%;
    height: 16rem;
}

h2{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 2.2rem;
    width: 100%;
    margin: 1.2rem 2.6rem;
}

.resposta_resultado{
    display: flex;
    align-items: center;
    margin: 0 2.4rem;
    gap: 2rem;
}

.resposta_retrato{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 140px;
    height: 9.25rem;
    background: #06BD00;
}

.resposta_retrato-medio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 140px;
    height: 9.25rem;
    background: #CDC000;
}

.resposta_retrato-critico{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 140px;
    height: 9.25rem;
    background: #BD0000;
}

#resultado{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 6.8rem;
    color: white;
}

#mensagem-resultado{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 1.6rem;
}

/* @media (min-width: 768px){
    #logorelogio{
        width: 10.8rem;
    }

    #logonome{
        width: 14rem;
    }

    .sessaoselecao_template{
        flex-direction: row;
        align-items: center;
        font-size: 1.8rem;
    }


    .sessaoselecao_template_botao{
        margin-left: 0.8rem;
        margin-top: 0;
        width: 4rem;
        height: 2.6rem;
        font-size: 1.2rem;    
    }

    .sessaoselecao_template_botoes{
        gap: 0.2rem;
        justify-content: center;
    }

    input{
        max-width: 24.8rem;
        font-size: 1.4rem;
        border: none;
    }

    hr{
        max-width: 46.8rem;
    }

    #botaocelular{
        font-size: 2rem;
        max-width: 20rem;
    }

    .resultado_box p {
        font-size: 1.4rem;
    }

    .card-vermelho{
        height: 200px;
    }

    .card-vermelho span {
        font-size: 80px;
    }
}


 */
